html {
  font-size: large;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid;
  width: 1000px;
}

nav {
  align-self: flex-start;
  width: 100%;
  border-bottom: black solid;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  font-size: x-large;
  color: blue;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 1000px;
  align-self: center;
  border: black solid;
  border-top: none;
  border-bottom: none;
  width: 100%;
}

#instructions > p {
  width: 800px;
}

#submit {
  display: grid;
  grid-template-areas:
    "label label label"
    "input input button";
  width: 400px;
  margin: 10px;
}

label {
  grid-area: label;
}

input {
  grid-area: input;
}

button {
  grid-area: button;
}

#recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-container {
  border: 1px solid black;
  width: 800px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-container > img,
.return-to-ingredients {
  cursor: pointer;
  width: 400px;
}

.recipe-name {
  color: blue;
  cursor: pointer;
}

.recipe-info {
  width: 800px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.ingredient-list {
  flex-direction: column;
  gap: 10px;
}

.instruction {
  padding: 20px;
  text-align: justify;
}

footer {
  border: black solid;
  align-self: center;
  width: 1000px;
  text-align: center;
}

#recipes-container:not(:empty):before {
  content: "Click on the recipe name or image for the instructions.";
}

.ingredient-list::before {
  content: "Ingredients:";
}

.error::after {
  color: red;
  grid-area: error;
}

.empty::after {
  content: "Please enter an ingredient before clicking the get your recipes button.";
}

.invalid::after {
  content: "That ingredient does not exist on our website, please enter a different ingredient.";
}

.duplicate::after {
  content: "That ingredient was already added, please enter a different ingredient.";
}
